<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sweyn-app</title>
    <link rel="icon" type="image/png" href="/favicon.ico" />
    <link href="/main.css?v={{ version }}" rel="stylesheet" />
    <script src="/main.js?v={{ version }}" type="module"></script>
  </head>
  <body>
    <img class="logo" src="/logo.png" />
    <h1>Sweyn</h1>
    <p>Server With Everything You Need</p>
    <a href="https://erikthalen.github.io/sweyn/">Documentation</a>
  </body>
</html>
