@font-face {
  font-family: Inter;
  src: url('/Inter_18pt-Regular.woff2');
}

@font-face {
  font-family: Inter;
  src: url('/Inter_18pt-Medium.woff2');
  font-weight: bold;
}

:root {
  font-family: 'Inter', serif;
}

* {
  margin: 0;
}

body {
  display: grid;
  place-content: center;
  place-items: center;
  gap: 1rem;
  height: 80vh;
}
