@font-face {
  font-family: Inter;
  src: url('/Inter_18pt-Regular.woff2');
  font-display: block;
}

@font-face {
  font-family: Inter;
  src: url('/Inter_18pt-Medium.woff2');
  font-weight: bold;
  font-display: block;
}

:root {
  font-synthesis: style;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  font-family: 'Inter', sans-serif;
  color: #222;
}

* {
  margin: 0;
}

body {
  min-height: 100%;
  background-color: whitesmoke;
}

nav {
  max-width: 800px;
  margin: 0 auto;

  display: flex;
  gap: 1rem;

  padding: 1rem;
}

main {
  max-width: 800px;
  margin: 0 auto;

  display: grid;
  gap: 1rem;

  padding: 1rem;
}

a {
  color: dodgerblue;
}
